<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>

      <div class="posts">
        <div class="new-post">
          <%= render "posts/newpost" %>
        </div>

        <%= render "posts/postlist" %>
      </div>
    </section>
  </aside>
</div>
