<div class="postlist">
  <h3>
    Posts <%= (@posts.count) %>
  </h3>
  <% if @posts.any? %>
    <% @posts.each_with_index do |post, index| %>
      <%= render "posts/post", post: post, index: index %>
    <% end %>
  <% end %>
</div>
