<h1>Posts#index</h1>

<div class="postlist">
  <% @posts.each do |post| %>
    <div class="post">
      <h2><%= post.id %>. <%= post.description %></h2>
      <p>By <%= post.user.email %></p>
    </div>
  <% end %>
</div>
