.posts {
  .new-post {
    border: solid grey 5px;
    margin: 5px;
    padding: 5px;
    color: grey;
  }

  .postlist {
    border: solid black 5px;
    padding: 5px;
    color: grey;

    .post {
      border: solid grey 5px;
      margin: 5px;
      padding: 5px;
      color: grey;
    }

  }

}
